---
import AnimationPulse from "./animations/AnimationPulse.astro";
import Star from "./Star.astro";

interface Props {
  color?: "yellow" | "blue";
}

const { color = "yellow" } = Astro.props as Props;
---

<div class="absolute inset-0 h-screen w-screen z-0 pointer-events-none">
  <div class="absolute" data-speed="clamp(0.8)" style="top: 90%; left: 34%; ">
    <AnimationPulse>
      <Star fill={color} size={35} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.8)" class="absolute" style="top: 43%; left: 61%; ">
    <AnimationPulse>
      <Star fill={color} size={40} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.7)" class="absolute" style="top: 33%; left: 18%; ">
    <AnimationPulse>
      <Star fill={color} size={30} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.7)" class="absolute" style="top: 72%; left: 83%; ">
    <AnimationPulse>
      <Star fill={color} size={20} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.8)" class="absolute" style="top: 15%; left: 77%; ">
    <AnimationPulse>
      <Star fill={color} size={25} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.6)" class="absolute" style="top: 65%; left: 42%; ">
    <AnimationPulse>
      <Star fill={color} size={35} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.6)" class="absolute" style="top: 38%; left: 89%; ">
    <AnimationPulse>
      <Star fill={color} size={40} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.7)" class="absolute" style="top: 81%; left: 7%; ">
    <AnimationPulse>
      <Star fill={color} size={30} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(1.2)" class="absolute" style="top: 23%; left: 15%; ">
    <AnimationPulse>
      <Star fill={color} size={20} />
    </AnimationPulse>
  </div>
  <div data-speed="clamp(0.5)" class="absolute" style="top: 58%; left: 93%; ">
    <AnimationPulse>
      <Star fill={color} size={25} />
    </AnimationPulse>
  </div>
</div>
